[submodule "idg-lib"]
	path = idg-lib
	url = ../idg-lib.git
[submodule "idg-util"]
	path = idg-util
	url = ../idg-util.git
[submodule "idg-bin"]
	path = idg-bin
	url = ../idg-bin.git
[submodule "idg-api"]
	path = idg-api
	url = ../idg-api.git
