astropy
bdsf
jinja2
losoto>=2.4.3
lsmtool>=1.6
matplotlib
mocpy
numpy<2
python-casacore
python-dateutil
reproject
requests
Rtree
scipy
shapely
# We need Toil >= 7.1, but 7.1 has not yet been released.
toil[cwl] @ git+https://github.com/DataBiosphere/toil.git
