astropy
bdsf
jinja2
losoto
lsmtool
matplotlib
mocpy
numpy
psutil>=5.6.6
python-casacore
python-dateutil
reproject
requests
Rtree
scipy
shapely
toil @ git+https://github.com/DataBiosphere/toil.git#egg=toil[cwl]
