astropy
bdsf
jinja2
losoto
lsmtool @ git+https://git.astron.nl/RD/LSMTool.git@bc7a279f
numpy
psutil>=5.6.6
python-casacore
python-dateutil
reproject
Rtree
scipy
shapely
toil @ git+https://github.com/DataBiosphere/toil.git#egg=toil[cwl]
