{'apparent_skymodel': '/my/data/apparent_skymodel.txt',
 'calibration_specific': {'bda_frequencybase': 0.0,
                          'bda_timebase': 0.0,
                          'correct_time_frequency_smearing': True,
                          'fast_freqstep_hz': 100000.0,
                          'fast_smoothnessconstraint': 300000.0,
                          'fast_smoothnessrefdistance': 5.0,
                          'fast_smoothnessreffrequency': 100000.0,
                          'fast_datause': 'dual',
                          'fulljones_freqstep_hz': 1000000.0,
                          'fulljones_smoothnessconstraint': 0,
                          'llssolver': 'qr',
                          'maxiter': 50,
                          'medium_freqstep_hz': 150000.0,
                          'medium_smoothnessconstraint': 3500000.0,
                          'medium_smoothnessrefdistance': 6.0,
                          'medium_smoothnessreffrequency': 200000.0,
                          'medium_datause': 'dual',
                          'onebeamperpatch': True,
                          'parallelbaselines': True,
                          'propagatesolutions': False,
                          'sagecalpredict': True,
                          'dd_interval_factor': 1,
                          'dd_smoothness_factor': 3,
                          'slow_freqstep_hz': 2000000.0,
                          'slow_smoothnessconstraint': 4000000.0,
                          'slow_datause': 'full',
                          'solveralgorithm': 'directioniterative',
                          'solverlbfgs_dof': 100.0,
                          'solverlbfgs_iter': 6,
                          'solverlbfgs_minibatches': 3,
                          'stepsize': 0.2,
                          'stepsigma': 0.1,
                          'tolerance': 0.01,
                          'use_included_skymodels': True,
                          'use_image_based_predict': True},
 'cluster_specific': {'batch_system': 'slurm',
                      'container_type': 'singularity',
                      'cpus_per_task': 40,
                      'cwl_runner': 'cwltool',
                      'debug_workflow': True,
                      'deconvolution_threads': 16,
                      'dir_local': '/tmp',
                      'global_scratch_dir': '/shared/scratch',
                      'keep_temporary_files': True,
                      'local_scratch_dir': '/local',
                      'max_cores': 32,
                      'max_nodes': 8,
                      'max_threads': 64,
                      'mem_per_node_gb': 256,
                      'parallel_gridding_threads': 16,
                      'use_container': True},
 'dir_working': '${dir_working}',
 'generate_initial_skymodel': True,
 'generate_initial_skymodel_radius': 1.0,
 'generate_initial_skymodel_data_fraction': 0.5,
 'download_initial_skymodel': False,
 'download_initial_skymodel_radius': 3.0,
 'download_initial_skymodel_server': 'GSM',
 'download_overwrite_skymodel': True,
 'facet_layout': '/my/data/facets.reg',
 'final_data_fraction': 0.8,
 'imaging_specific': {'apply_diagonal_solutions': False,
                      'bda_timebase': 0,
                      'cellsize_arcsec': 2.25,
                      'dd_psf_grid': [2, 2],
                      'dde_method': 'single',
                      'filter_skymodel': False,
                      'source_finder': 'bdsf',
                      'do_multiscale_clean': False,
                      'grid_center_dec': 35.50875555555555,
                      'grid_center_ra': 220.25785,
                      'grid_nsectors_ra': 2,
                      'grid_width_dec_deg': 5.0,
                      'grid_width_ra_deg': 3.0,
                      'idg_mode': 'gpu',
                      'make_quv_images': True,
                      'pol_combine_method': 'join',
                      'max_peak_smearing': 0.25,
                      'correct_time_frequency_smearing': True,
                      'max_uv_lambda': 10000.0,
                      'mem_gb': 128.0,
                      'mgain': 0.85,
                      'min_uv_lambda': 80.0,
                      'reweight': False,
                      'robust': -0.3,
                      'save_visibilities': True,
                      'save_averaged_visibilities': True,
                      'save_image_cube': True,
                      'save_supplementary_images': True,
                      'compress_selfcal_images': False,
                      'compress_final_images': True,
                      'sector_center_dec_list': [35.50875555555555,
                                                 37.36579444444445],
                      'sector_center_ra_list': [220.25785, 213.3468083333333],
                      'sector_width_dec_deg_list': [0.532, 0.127],
                      'sector_width_ra_deg_list': [0.532, 0.127],
                      'skip_corner_sectors': True,
                      'taper_arcsec': 2.0,
                      'local_rms_strength': 0.5,
                      'local_rms_window': 10,
                      'local_rms_method': 'rms',
                      'skip_final_major_iteration': False,
                      'use_mpi': True},
 'input_h5parm': '/my/data/dirdependent.h5',
 'input_fulljones_h5parm': '/my/data/fulljones.h5',
 'input_ms': ['${input_ms}'],
 'data_colname': 'DATA',
 'input_skymodel': None,
 'mss': ['${input_ms}'],
 'regroup_input_skymodel': False,
 'selfcal_data_fraction': 0.4,
 'strategy': 'selfcal',
 'dde_mode': 'hybrid'}
