{'apparent_skymodel': None,
 'calibration_specific': {'bda_frequencybase': 20000.0,
                          'bda_timebase': 20000.0,
                          'correct_time_frequency_smearing': False,
                          'fast_freqstep_hz': 1000000.0,
                          'fast_smoothnessconstraint': 3000000.0,
                          'fast_smoothnessrefdistance': 0.0,
                          'fast_smoothnessreffrequency': None,
                          'fast_datause': 'single',
                          'fulljones_freqstep_hz': 1000000.0,
                          'fulljones_smoothnessconstraint': 0,
                          'llssolver': 'qr',
                          'maxiter': 150,
                          'medium_datause': 'single',
                          'medium_freqstep_hz': 1000000.0,
                          'medium_smoothnessconstraint': 6000000.0,
                          'medium_smoothnessrefdistance': 0.0,
                          'medium_smoothnessreffrequency': None,
                          'onebeamperpatch': False,
                          'parallelbaselines': False,
                          'propagatesolutions': True,
                          'sagecalpredict': False,
                          'dd_interval_factor': 1,
                          'dd_smoothness_factor': 3,
                          'slow_freqstep_hz': 1000000.0,
                          'slow_smoothnessconstraint': 3000000.0,
                          'slow_datause': 'dual',
                          'solveralgorithm': 'directioniterative',
                          'solverlbfgs_dof': 200.0,
                          'solverlbfgs_iter': 4,
                          'solverlbfgs_minibatches': 1,
                          'stepsize': 0.02,
                          'stepsigma': 2.0,
                          'tolerance': 0.005,
                          'use_included_skymodels': False,
                          'use_image_based_predict': False},
 'cluster_specific': {'batch_system': 'single_machine',
                      'container_type': 'docker',
                      'cpus_per_task': 8,
                      'cwl_runner': 'toil',
                      'debug_workflow': False,
                      'deconvolution_threads': 3,
                      'dir_local': None,
                      'local_scratch_dir': None,
                      'global_scratch_dir': None,
                      'keep_temporary_files': False,
                      'max_cores': 8,
                      'max_nodes': 1,
                      'max_threads': 8,
                      'mem_per_node_gb': 0,
                      'parallel_gridding_threads': 3,
                      'use_container': False},
 'dir_working': '${dir_working}',
 'generate_initial_skymodel': True,
 'generate_initial_skymodel_radius': None,
 'generate_initial_skymodel_data_fraction': 0.2,
 'download_initial_skymodel': False,
 'download_initial_skymodel_radius': 5.0,
 'download_initial_skymodel_server': 'TGSS',
 'download_overwrite_skymodel': False,
 'facet_layout': None,
 'final_data_fraction': 1.0,
 'imaging_specific': {'apply_diagonal_solutions': True,
                      'bda_timebase': 20000.0,
                      'cellsize_arcsec': 1.5,
                      'dd_psf_grid': [0, 0],
                      'dde_method': 'full',
                      'filter_skymodel': True,
                      'source_finder': 'bdsf',
                      'do_multiscale_clean': True,
                      'grid_center_dec': None,
                      'grid_center_ra': None,
                      'grid_nsectors_ra': 0,
                      'grid_width_dec_deg': None,
                      'grid_width_ra_deg': None,
                      'idg_mode': 'cpu',
                      'make_quv_images': False,
                      'pol_combine_method': 'link',
                      'max_peak_smearing': 0.15,
                      'correct_time_frequency_smearing': False,
                      'max_uv_lambda': 1000000.0,
                      'mem_gb': 0,
                      'mgain': 0.8,
                      'min_uv_lambda': 80.0,
                      'reweight': False,
                      'robust': -0.65,
                      'save_visibilities': False,
                      'average_visibilities': True,
                      'save_image_cube': False,
                      'save_supplementary_images': False,
                      'compress_selfcal_images': True,
                      'compress_final_images': False,
                      'sector_center_dec_list': [],
                      'sector_center_ra_list': [],
                      'sector_width_dec_deg_list': [],
                      'sector_width_ra_deg_list': [],
                      'skip_corner_sectors': False,
                      'taper_arcsec': 0.0,
                      'local_rms_strength': 0.8,
                      'local_rms_window': 50,
                      'local_rms_method': 'rms',
                      'skip_final_major_iteration': True,
                      'use_mpi': False},
 'input_h5parm': None,
 'input_fulljones_h5parm': None,
 'input_ms': ['${input_ms}'],
 'data_colname': 'DATA',
 'input_skymodel': None,
 'mss': ['${input_ms}'],
 'regroup_input_skymodel': True,
 'selfcal_data_fraction': 0.2,
 'strategy': 'selfcal',
 'dde_mode': 'faceting'}
