[global]
dir_working = ${dir_working}
input_ms = [${input_ms}]
data_colname = DATA
generate_initial_skymodel = True
generate_initial_skymodel_radius = 1.0
generate_initial_skymodel_data_fraction = 0.5
download_initial_skymodel = False
download_initial_skymodel_radius = 3.0
download_initial_skymodel_server = GSM
download_overwrite_skymodel = True
input_skymodel = None
apparent_skymodel = /my/data/apparent_skymodel.txt
regroup_input_skymodel = False
strategy = selfcal
selfcal_data_fraction = 0.4
final_data_fraction = 0.8
input_h5parm = /my/data/dirdependent.h5
input_fulljones_h5parm = /my/data/fulljones.h5
facet_layout = /my/data/facets.reg
dde_mode = hybrid

[calibration]
bda_frequencybase = 0.0
bda_timebase = 0.0
use_included_skymodels = True
use_image_based_predict = True
dd_interval_factor = 1
dd_smoothness_factor = 3
llssolver = qr
maxiter = 50
propagatesolutions = False
solveralgorithm = directioniterative
onebeamperpatch = True
stepsize = 0.2
stepsigma = 0.1
tolerance = 1e-2
parallelbaselines = True
sagecalpredict = True
fast_freqstep_hz = 1e5
fast_smoothnessconstraint = 3e5
fast_smoothnessreffrequency = 1e5
fast_smoothnessrefdistance = 5.0
fast_datause = dual
medium_freqstep_hz = 1.5e5
medium_smoothnessconstraint = 3.5e6
medium_smoothnessreffrequency= 2e5
medium_smoothnessrefdistance = 6.0
medium_datause = dual
slow_freqstep_hz = 2e6
slow_smoothnessconstraint = 4e6
slow_datause = full
fulljones_timestep_sec = 600.0
fulljones_freqstep_hz = 1e6
fulljones_smoothnessconstraint = 0
solverlbfgs_dof = 100.0
solverlbfgs_iter = 6
solverlbfgs_minibatches = 3

[imaging]
cellsize_arcsec = 2.25
robust = -0.3
min_uv_lambda = 80.0
max_uv_lambda = 10000.0
mgain = 0.85
taper_arcsec = 2.0
local_rms_strength = 0.5
local_rms_window = 10
local_rms_method = rms
do_multiscale_clean = False
bda_timebase = 10000.0
dde_method = single
filter_skymodel = False
source_finder = bdsf
save_visibilities = True
save_supplementary_images = True
compress_selfcal_images = False
compress_final_images = True
idg_mode = gpu
mem_gb = 128.0
apply_diagonal_solutions = False
dd_psf_grid = [2, 2]
make_quv_images = True
pol_combine_method = join
use_mpi = True
reweight = False
grid_width_ra_deg = 3.0
grid_width_dec_deg = 5.0
grid_center_ra = 14h41m01.884
grid_center_dec = +35d30m31.52
grid_nsectors_ra = 2
sector_center_ra_list = [14h41m01.884, 14h13m23.234]
sector_center_dec_list = [+35d30m31.52, +37d21m56.86]
sector_width_ra_deg_list = [0.532, 0.127]
sector_width_dec_deg_list = [0.532, 0.127]
max_peak_smearing = 0.25
skip_final_major_iteration = False
skip_corner_sectors = True

[cluster]
batch_system = slurm
max_nodes = 8
cpus_per_task = 40
mem_per_node_gb = 256
max_cores = 32
max_threads = 64
deconvolution_threads = 16
parallel_gridding_threads = 16
dir_local = /tmp
local_scratch_dir = /local
global_scratch_dir = /shared/scratch
use_container = True
container_type = singularity
cwl_runner = cwltool
debug_workflow = True
keep_temporary_files = True
