[global]
dir_working = ${dir_working}
input_ms = [${input_ms}]
download_initial_skymodel = True
download_initial_skymodel_radius = 3.0
download_initial_skymodel_server = GSM
download_overwrite_skymodel = True
input_skymodel = /my/data/skymodel.txt
apparent_skymodel = /my/data/apparent_skymodel.txt
regroup_input_skymodel = False
strategy = selfcal
selfcal_data_fraction = 0.4
final_data_fraction = 0.8
flag_abstime = [12-May-2014/10:20:00.0..12-May-2014/10:40:00.0]
flag_baseline = [CS002HBA*]
flag_freqrange = [126.4..127.6MHz]
flag_expr = flag_abstime and flag_baseline and flag_freqrange

[calibration]
use_included_skymodels = True
llssolver = qr
maxiter = 50
propagatesolutions = False
solveralgorithm = hybrid
onebeamperpatch = True
stepsize = 0.2
tolerance = 1e-2
parallelbaselines = True
sagecalpredict = True
fast_timestep_sec = 10.0
fast_freqstep_hz = 1e5
fast_smoothnessconstraint = 3e5
fast_smoothnessreffrequency = 1e5
fast_smoothnessrefdistance = 5.0
slow_timestep_joint_sec = 500.0
slow_timestep_separate_sec = 600.0
slow_freqstep_hz = 2e6
slow_smoothnessconstraint_joint = 4e6
slow_smoothnessconstraint_separate = 4e6
fulljones_timestep_sec = 600.0
fulljones_freqstep_hz = 1e6
fulljones_smoothnessconstraint = 0

[imaging]
cellsize_arcsec = 2.25
robust = -0.3
min_uv_lambda = 80.0
max_uv_lambda = 10000.0
taper_arcsec = 2.0
do_multiscale_clean = False
dde_method = screens
screen_type = kl
idg_mode = gpu
mem_gb = 128.0
apply_diagonal_solutions = False
dd_psf_grid = [2, 2]
use_mpi = True
reweight = False
grid_width_ra_deg = 3.0
grid_width_dec_deg = 5.0
grid_center_ra = 14h41m01.884
grid_center_dec = +35d30m31.52
grid_nsectors_ra = 2
sector_center_ra_list = [14h41m01.884, 14h13m23.234]
sector_center_dec_list = [+35d30m31.52, +37d21m56.86]
sector_width_ra_deg_list = [0.532, 0.127]
sector_width_dec_deg_list = [0.532, 0.127]
max_peak_smearing = 0.25

[cluster]
batch_system = slurm
max_nodes = 8
cpus_per_task = 40
mem_per_node_gb = 256
max_cores = 32
max_threads = 64
deconvolution_threads = 16
parallel_gridding_threads = 16
dir_local = /tmp
use_container = True
container_type = singularity
cwl_runner = cwltool
dir_coordination = /scratch
debug_workflow = True
