{'apparent_skymodel': '/my/data/apparent_skymodel.txt',
 'calibration_specific': {'fast_freqstep_hz': 100000.0,
                          'fast_smoothnessconstraint': 300000.0,
                          'fast_smoothnessrefdistance': 5.0,
                          'fast_smoothnessreffrequency': 100000.0,
                          'fast_timestep_sec': 10.0,
                          'fulljones_freqstep_hz': 1000000.0,
                          'fulljones_smoothnessconstraint': 0,
                          'fulljones_timestep_sec': 600.0,
                          'llssolver': 'qr',
                          'maxiter': 50,
                          'onebeamperpatch': True,
                          'parallelbaselines': True,
                          'propagatesolutions': False,
                          'sagecalpredict': True,
                          'slow_freqstep_hz': 2000000.0,
                          'slow_smoothnessconstraint_joint': 4000000.0,
                          'slow_smoothnessconstraint_separate': 4000000.0,
                          'slow_timestep_joint_sec': 500.0,
                          'slow_timestep_separate_sec': 600.0,
                          'solveralgorithm': 'hybrid',
                          'solverlbfgs_dof': 200.0,
                          'solverlbfgs_iter': 4,
                          'solverlbfgs_minibatches': 1,
                          'stepsize': 0.2,
                          'tolerance': 0.01,
                          'use_included_skymodels': True},
 'cluster_specific': {'batch_system': 'slurm',
                      'container_type': 'singularity',
                      'cpus_per_task': 40,
                      'cwl_runner': 'cwltool',
                      'debug_workflow': True,
                      'deconvolution_threads': 16,
                      'dir_coordination': '/scratch',
                      'dir_local': '/tmp',
                      'max_cores': 32,
                      'max_nodes': 8,
                      'max_threads': 64,
                      'mem_per_node_gb': 256,
                      'parallel_gridding_threads': 16,
                      'use_container': True},
 'dir_working': '${dir_working}',
 'download_initial_skymodel': True,
 'download_initial_skymodel_radius': 3.0,
 'download_initial_skymodel_server': 'GSM',
 'download_overwrite_skymodel': True,
 'final_data_fraction': 0.8,
 'flag_abstime': ['12-May-2014/10:20:00.0..12-May-2014/10:40:00.0'],
 'flag_baseline': ['CS002HBA*'],
 'flag_expr': 'flag_abstime and flag_baseline and flag_freqrange',
 'flag_freqrange': ['126.4..127.6MHz'],
 'imaging_specific': {'apply_diagonal_solutions': False,
                      'cellsize_arcsec': 2.25,
                      'dd_psf_grid': [2, 2],
                      'dde_method': 'screens',
                      'do_multiscale_clean': False,
                      'grid_center_dec': 35.50875555555555,
                      'grid_center_ra': 220.25785,
                      'grid_nsectors_ra': 2,
                      'grid_width_dec_deg': 5.0,
                      'grid_width_ra_deg': 3.0,
                      'idg_mode': 'gpu',
                      'max_peak_smearing': 0.25,
                      'max_uv_lambda': 10000.0,
                      'mem_gb': 128.0,
                      'min_uv_lambda': 80.0,
                      'reweight': False,
                      'robust': -0.3,
                      'screen_type': 'kl',
                      'sector_center_dec_list': [35.50875555555555,
                                                 37.36579444444445],
                      'sector_center_ra_list': [220.25785, 213.3468083333333],
                      'sector_width_dec_deg_list': [0.532, 0.127],
                      'sector_width_ra_deg_list': [0.532, 0.127],
                      'skip_corner_sectors': False,
                      'taper_arcsec': 2.0,
                      'use_mpi': True},
 'input_h5parm': None,
 'input_ms': ['${input_ms}'],
 'input_skymodel': '/my/data/skymodel.txt',
 'mss': ['${input_ms}'],
 'regroup_input_skymodel': False,
 'selfcal_data_fraction': 0.4,
 'strategy': 'selfcal'}
